@charset "utf-8";

body {
	background-color: #2B94AF;
}

#logo {
	position: absolute;
	left: 150px;
	top: 20px;
	z-index: 1;
	border-top: medium solid #00296A;
	border-right: thin solid #00296A;
	border-left: thin solid #00296A;
	border-bottom: medium ridge #2B94AF;
	background-color: #97d1f2;
	padding-bottom: 30px;
	padding-top: 20px;
}

#header ul {
	position: absolute;
	left: 0px;
	top: 25px;
	margin: 0px;
	padding-left: 350px;
	background-color: #12629B;
	padding-top: 10px;
	padding-bottom: 10px;
	font-size: medium;
	min-width: 1150px;
	border-top-right-radius: 50px;
	z-index: 0;
	max-width: 100%;
	padding-right: 50px;
}

#header li {
	list-style: none;
	display: inline;
	color: #3A3333;
}

#header ul li a {
	height: 20px;
	margin-top: -1px;
	margin-right: -1px;
	margin-left: -1px;
	margin-bottom: -1px;
	padding-top: 10px;
	padding-right: 10px;
	padding-left: 10px;
	padding-bottom: 10px;
	color: #252424;
	text-decoration: none;
	font-size: 25px;
}

#header ul li a:hover {
	color: #333333;
	background-color: #97bfff;
}
#header ul li a:active {
	color: #000000;
	background-color: #FF9900;
}


#header ul ul {
	display: none;
	top: 80%;
	width: auto;
	border-top-right-radius: 0px;
	border-bottom-right-radius: 0px;
	background-color: #97bfff;
}

#header ul li:hover{
	color: #333333;
	background-color: #97bfff;
}
	
#header ul li:hover > ul {
	display: block;
}

#header ul li ul li:hover {
	background-color: #AB1D20	

}
#header ul li {
	float: left;
}

#header ul li a {
	display: block;
	padding-right: 40px;
	padding-left: 40px;
	color: #333333;
	text-decoration: none;
	min-width: 0px;
	}

#header ul ul li a:hover {
	background: #4b545f;
}



